
<div>
    <form method="" (submit)='agregarCliente(nombre,apellido,edad,correo)'> 
        <div>
            <label for="">
                Nombre
                <input type="text" #nombre >
            </label> 
        </div>
        <div>

            <label for="">
                apellido
                <input type="text" #apellido>
            </label>
        </div>
        <div>

            <label for="">
                edad
                <input type="text" #edad>
            </label>
        </div>
        <div>
            <label for="">
                correo
                <input type="email" #correo name="" id="">
            </label>
        </div>
        <div>
            <select name="categorias">
                <option value="" #categ_producto *ngFor="let categoria of categorias">
                    {{ categoria.nombre_categoria }}
                </option>
            </select>
        </div>
        <div>
            <button >  
                Crear Usuario
            </button>
        </div>
    </form>

    <!-- 

        <table>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            <th>Correo</th>
            <th>Fecha de nacimiento</th>
            <th>Boton del</th>
        </tr>
        <tr *ngFor="let cliente of clientes3">
            <td>
                {{ cliente.id_cliente }}
            </td>
            <td>
                {{ cliente.nombres }}
            </td>
            <td>
                {{ cliente.apellidos }}
            </td>
            <td>
                {{ cliente.correo }}
            </td>
            <td>
                {{ cliente.fecha_nacimiento }}
            </td>
            <button (click)="eliminarCliente(cliente)">Eliminar</button>
        </tr>
    </table>
    

    
    <table>
        <tr>
            <th>Nombre Producto</th>
            <th>Fecha compra</th>
            <th>precio</th>
        </tr>
        <tr *ngFor="let producto of productos">
            <td>
                {{ producto.nombre_producto }}
            </td>
            <td>
                {{ producto.fecha_compra }}
            </td>
            <td>
                {{ producto.precio }}
            </td>
            <button (click)="eliminarCliente(cliente)">Eliminar</button>
        </tr>
    </table>    
    -->
</div>